{% extends "base.html" %}
{% block title %}Create Task{% endblock title %}
{% block content %}
  <div class="max-w-3xl mx-auto  mt-10">
    <div>
      {% if message %}
        <p>{{ message }}</p>
      {% endif %}
    </div>
    <form method="post">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li class="px-4 py-2 bg-green-600">
              {{ message }}
          </li>
          {% endfor %}
      </ul>
      {% endif %}
      {{ task_form }}
      {{ task_details_form }}
      <button class="bg-blue-700 px-4 py-2 hover:bg-slate-800 border-none hover:border hover:border-b-4 hover:border-green-800 duration-1000 rounded-md text-white mt-2 mb-5" type="submit">Submit</button> 
    </form>
  </div>
{% endblock content %}