{% extends "base.html" %}

{% block content  %}
    <div class="lg:max-w-[40%] mx-auto my-11">
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="flex flex-col gap-3">
            {% csrf_token %}
            {{form}}
            <div>
                <input class="px-2 py-1 bg-green-500 rounded" type="submit" placeholder="Submit">
            </div>
        </form>
    </div>
{% endblock content  %}